.wp-block-post-author-name__link {
    text-decoration: none;
}

.wp-block-post-author-name,
.wp-block-post-date {
    display: flex;
    position: relative;
    align-items: center;
    line-height: 1;
}

.wp-block-post-author-name:before,
.wp-block-post-date:before {
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 1ch;
}

.wp-block-post-author-name:before {
    content: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 14.6667H12V13.3333C12 12.8029 11.7893 12.2942 11.4142 11.9191C11.0391 11.544 10.5304 11.3333 10 11.3333H6C5.46957 11.3333 4.96086 11.544 4.58579 11.9191C4.21071 12.2942 4 12.8029 4 13.3333V14.6667H2.66667V13.3333C2.66667 12.4493 3.01786 11.6014 3.64298 10.9763C4.2681 10.3512 5.11595 10 6 10H10C10.8841 10 11.7319 10.3512 12.357 10.9763C12.9821 11.6014 13.3333 12.4493 13.3333 13.3333V14.6667ZM8 8.66667C7.47471 8.66667 6.95457 8.5632 6.46927 8.36218C5.98396 8.16117 5.54301 7.86653 5.17157 7.49509C4.80014 7.12366 4.5055 6.6827 4.30448 6.1974C4.10346 5.7121 4 5.19195 4 4.66667C4 4.14138 4.10346 3.62124 4.30448 3.13593C4.5055 2.65063 4.80014 2.20967 5.17157 1.83824C5.54301 1.46681 5.98396 1.17217 6.46927 0.971149C6.95457 0.77013 7.47471 0.666667 8 0.666667C9.06087 0.666667 10.0783 1.08809 10.8284 1.83824C11.5786 2.58839 12 3.6058 12 4.66667C12 5.72753 11.5786 6.74495 10.8284 7.49509C10.0783 8.24524 9.06087 8.66667 8 8.66667ZM8 7.33333C8.70724 7.33333 9.38552 7.05238 9.88562 6.55229C10.3857 6.05219 10.6667 5.37391 10.6667 4.66667C10.6667 3.95942 10.3857 3.28115 9.88562 2.78105C9.38552 2.28095 8.70724 2 8 2C7.29276 2 6.61448 2.28095 6.11438 2.78105C5.61429 3.28115 5.33333 3.95942 5.33333 4.66667C5.33333 5.37391 5.61429 6.05219 6.11438 6.55229C6.61448 7.05238 7.29276 7.33333 8 7.33333Z' fill='%2309121F'/%3E%3C/svg%3E");
}

.wp-block-post-date:before {
    content: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3333 2H14C14.1768 2 14.3464 2.07024 14.4714 2.19526C14.5964 2.32029 14.6667 2.48986 14.6667 2.66667V13.3333C14.6667 13.5101 14.5964 13.6797 14.4714 13.8047C14.3464 13.9298 14.1768 14 14 14H2C1.82319 14 1.65362 13.9298 1.5286 13.8047C1.40357 13.6797 1.33333 13.5101 1.33333 13.3333V2.66667C1.33333 2.48986 1.40357 2.32029 1.5286 2.19526C1.65362 2.07024 1.82319 2 2 2H4.66667V0.666667H6V2H10V0.666667H11.3333V2ZM10 3.33333H6V4.66667H4.66667V3.33333H2.66667V6H13.3333V3.33333H11.3333V4.66667H10V3.33333ZM13.3333 7.33333H2.66667V12.6667H13.3333V7.33333Z' fill='%2309121F'/%3E%3C/svg%3E%0A");
}

.wp-block-post-excerpt__more-link {
    display: flex;
    position: relative;
    align-items: center;
    line-height: 1;
    text-decoration: none;
    font-weight: 600;
}

.wp-block-post-excerpt__more-link:after {
    display: block;
    margin-left: 1ch;
    content: "»"
}

.wp-block-post-terms {
    display: block;
    position: relative;
}

.wp-block-post-terms:before {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66667 1.33333H13.3333C13.5101 1.33333 13.6797 1.40357 13.8047 1.5286C13.9298 1.65362 14 1.82319 14 2V14.8507C14.0001 14.9063 13.9862 14.961 13.9597 15.0099C13.9332 15.0588 13.8948 15.1003 13.8482 15.1306C13.8015 15.1609 13.748 15.179 13.6926 15.1833C13.6371 15.1877 13.5814 15.178 13.5307 15.1553L8 12.6867L2.46933 15.1547C2.4186 15.1773 2.36301 15.187 2.30761 15.1827C2.25221 15.1784 2.19876 15.1603 2.15212 15.1301C2.10548 15.0999 2.06713 15.0585 2.04057 15.0097C2.014 14.9609 2.00005 14.9062 2 14.8507V2C2 1.82319 2.07024 1.65362 2.19526 1.5286C2.32029 1.40357 2.48986 1.33333 2.66667 1.33333ZM12.6667 13.31V2.66667H3.33333V13.31L8 11.2273L12.6667 13.31ZM8 9L6.04067 10.03L6.41467 7.84867L4.83 6.30333L7.02067 5.98467L8 4L8.98 5.98467L11.17 6.30333L9.58533 7.84867L9.95867 10.03L8 9Z' fill='%2309121F'/%3E%3C/svg%3E%0A");
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 1ch;
    transform: translateY(2px);
}

.taxonomy-post_tag:before {
    content: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.26667 1.4L13.866 2.34333L14.8087 8.94333L8.68067 15.0713C8.55565 15.1963 8.38611 15.2665 8.20933 15.2665C8.03256 15.2665 7.86302 15.1963 7.738 15.0713L1.138 8.47133C1.01302 8.34632 0.942809 8.17678 0.942809 8C0.942809 7.82322 1.01302 7.65369 1.138 7.52867L7.26667 1.4ZM7.738 2.81467L2.552 8L8.20933 13.6567L13.3947 8.47133L12.688 3.52133L7.738 2.81467ZM9.15133 7.05733C8.90123 6.80715 8.76077 6.46785 8.76083 6.1141C8.76086 5.93894 8.79539 5.76549 8.86245 5.60368C8.92951 5.44186 9.02779 5.29484 9.15167 5.171C9.27555 5.04716 9.42261 4.94894 9.58445 4.88194C9.74629 4.81493 9.91974 4.78046 10.0949 4.78049C10.4487 4.78056 10.7879 4.92115 11.038 5.17133C11.2881 5.42152 11.4286 5.76081 11.4285 6.11457C11.4284 6.46833 11.2879 6.80757 11.0377 7.05767C10.7875 7.30777 10.4482 7.44823 10.0944 7.44817C9.74068 7.44811 9.40143 7.30752 9.15133 7.05733Z' fill='%2309121F'/%3E%3C/svg%3E%0A");
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 1ch;
    transform: translateY(2px);
}

.wp-block-gallery {
    padding-bottom: 1.5rem;
}

.wp-block-post-content ul,
.wp-block-post-content ol {
    padding-bottom: 1.5rem;
}

.wp-block-post-content li ul,
.wp-block-post-content li ol {
    padding-bottom: 0;
}

.wp-block-post-content blockquote {
    border-left: 4px solid var(--wp--preset--color--color-2);
    margin-left: 0;
    padding-left: 1ch;
}

.wp-block-pullquote blockquote {
    border-left-width: 0;
}

.wp-block-post-content table {
    border-collapse: collapse;
}

.wp-block-post-content td,
.wp-block-post-content th {
    border: 1px solid var(--wp--preset--color--color-2);
    padding: 1ch;
}

.wp-block-post-content pre,
pre.wp-block-preformatted {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 1.5rem;
    white-space: pre;
    font-family: monospace;
}

.wp-block-post-content code {
    max-width: 100%;
    display: block;
    padding: 1ch;
    background-color: var(--wp--preset--color--color-2);
    color: var(--wp--preset--color--color-0);
    overflow-x: auto;
    white-space: pre;
    font-family: monospace;
}

.wp-block-navigation__responsive-container-open svg {
    width: 36px;
    height: 36px;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
    padding-top: 0;
}

.wp-block-button {
    margin-bottom: 1.5rem;
}

.wp-caption-text,
body .is-layout-flex >.blocks-gallery-caption{
    margin-bottom: 1.5rem;
}

.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color):hover {
    color: var(--wp--preset--color--color-3);
}

.wp-block-navigation-item a:hover {
    text-decoration: underline;
}